.main-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; /* Ajusta a largura para preencher toda a largura da janela do navegador */
    height: 100%; /* Ajusta a altura para preencher toda a altura da janela do navegador */
    border-radius: inherit; 
    background-size: 100% 100%; /* Torna o background preencher toda a largura e altura */
    background-image: url('../../assets/background.webp'); 
    border: 0px; 
    background-repeat: repeat; 
    background-position: center top;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 140px;
    background-image: url('../../assets/bird.gif');
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: 50%;
    padding: 200px;
    font-family: 'blackgold', sans-serif; 
}

.subtitle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-family: 'blackgold', sans-serif; /* Adicione a declaração para definir a fonte */
}

@font-face {
    font-family: 'blackgold'; /* Defina o nome da fonte */
    src: url('../../assets/fonts/blackgold-regular.otf') format('opentype'); /* Use 'opentype' em vez de 'otf' */
}